.header{
    height:12%; 
    width: 100%;
    background:#8c1515;  
}

.headerBorder{
    height:1%; 
    width: 100%;
    background:#605e5c;  
}

.divider{
    height:0.5%; 
    margin-left:5%;
    width: 90%;
    background:#605e5c;  
}

.headerTab {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 160%;
    font-weight: 700;
    padding-right: 1.5%;
    padding-left: 1.5%;
    float:right;
    color: #ffffff;
    text-decoration:none;
    height: 66%;
    padding-top: 2%;
}

.headerTab:hover{
    background:#7a1c1c; 
}

body {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

.mainContent{
    height: 85%;
    background: #ffffff; 
}

.PTCExperience{
    height: 78.5%;
    background: #ededed;
    margin: 2% 1% 0% 1%;
}

.profilePicture{
    border-radius: 50%;
    margin-left:5% ;
    max-width: 80%; 
    max-height: 80%;
    float:left; 
    width: 100%;
    border-color: #ffffff;
    margin-top: 10%
}

.aboutMe{
    /* color:#ffffff; */
    margin-left: 5%; 
    float:left;
    font-family: 'Source Sans Pro', sans-serif
}

.Introduction{
    font-size: 2.0em;
    /* color:#ffffff; */
    margin-left: 5%;
    margin-top:2%;
    float:left;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif
}

.jobTitle{
    font-size: 1.7em;
    margin-left: 7%;
    margin-top:2%;
    float:left;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif
}


.Degree{
    font-size: 1.5em;
    margin-left: 4%;
    margin-top:2%;
    float:left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Node {
    width:10%;
    margin-left: 5.5%; 
}
.Java{    
    width:5%;
    margin-left: 6%;
}
.React{
    width:7%;
    margin-left: 6%;
}
.Azure{
    width:13%;
    margin-left: 5%
}
.PostgresSQL{
    width:6%;
    margin-left:8%
}
.GCP{
    width:13%;
    margin-left: 3%; 
}
.Cpp{
    width:5%;
    margin-left: 7.5%
}

.blackHole{
    margin-top:1%;
    border-radius: 5%;
    float: right;
    height:40%;
}

/* 
Standford red #8c1515;
Haldi yellow #ffc20d; 
Google Blue #3B8BEB;
Orange #c7493a;
Grey #605e5c;
Yellow-Whitish #FBEEC1;
Off-Whitish #E7E3D4;

'Courier New', Courier, monospace
Google Sans, Arial, sans-serif
'Source Sans Pro', sans-serif
*/